#sticky-nav {
  position: sticky;
  z-index: 2000;
}

header {
  padding: 2rem 0;
  background: linear-gradient(91.09deg, var(--main) 33.39%, var(--main2) 100.04%);
  color: var(--dark2);
  font-size: 16px;
  font-weight: 700;
}



.navigation {
  ul {
    display: flex;
    gap: 2rem;
    li {
      cursor: pointer;
    }
  }

  a {
    color: var(--dark2);
    transition: all .35s;
    &:hover {
      color: white;
    }
  }
}