@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#App {
  font-family: 'Nunito', sans-serif;
  height: 10000px;
}

h1 {
  font-size: 96px;
  letter-spacing: -.08rem;
  color: var(--dark2);
  margin-bottom: 0;
  font-weight:900;
  line-height: 1;
}

.container {
  margin: 0 auto;
  width: min(1245px, 90%);
  padding: 0 0.27778rem;
  position: relative;
}

.accent-line {
  height: 4px;
  width: 15rem;
  background-color: var(--dark2);
  border-radius: 99px;
  margin: 1rem 0;
}

.sub-title {
  color: var(--dark2);
  font-weight: 700;
  font-size: 40px;
  margin-top: 0;
  line-height: 1;
}

button {
  border-radius: 99px;
  border: none;
  text-align: center;
  padding: 10px 20px;
  background-color: white;
  color: var(--dark2);
  font-weight: 700;
  &:hover {
    cursor: pointer;
    
  }
}

.right {
  position: absolute;
  right: 0;
}

.flex-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

a {
  color: var(--dark2);
  text-decoration: none;
  transition: all .35s;
}